 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'poppins',sans-serif;
    cursor:pointer;
}
body{
    height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#f5550b,#e61010);
}
form{
    width:25rem;
    height:28rem;
    display: flex;
    flex-direction: column;
    background: hwb(224 5% 7%);
    box-shadow: 0 8px 32px 0 #6cbbe9;
    border-radius: 30px;
    border-radius: 1px solid rgba(10, 115, 156, 0.3);
    border-top: 1px solid rgba(69, 141, 170, 0.3);
}

h1{
    font-size: 50px;
    text-align: center;
    color: hwb(3 1% 91%);
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
    letter-spacing: 3px;
    margin-bottom: 5%;
    opacity:.7;
}
label{
    font-size: 20px;
    color: hsla(120, 87%, 3%, 0.699);
    margin-left: 10%;
    opacity: .8;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
}
input{
    width: 80%;
    margin: 5% auto;
    margin-bottom: 8%;
    border: none;
    outline: none;
    background: transparent;
    color:#050000;
    border-bottom: 1px solid #e00d0de8;
    opacity: .6;
}
button{
    width:50%;
    margin: 3% auto;
    color: hwb(73 17% 21%);
    font-size: 15px;
    opacity: .7;
    background:rgba(21, 77, 197, 0.06);
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-shadow: 2px 2px 4px #10a1c5;
    box-shadow: 3px 3px 5px #7078e2;
    border-left: 1px solid #8799eb;
    border-top: 1px solid #45bdec;
    border-right: 1px solid hwb(204 10% 4%);
    border-bottom: 1px solid #008cff;

}
a{
    font-size: 12px;
    text-align: center;
    color: #000702;
    opacity:.7;

}




